##
# These properties are specific to the individual's development and
# test environment. This properties file should be located in your
# home directory, e.g.: ~/google-enterprise-connector-notes.properties
#


##
# Build Properties

# The location of notes.jar.
build.notes.jar = ${user.home}/Notes.jar

# The directory containing the Notes client libraries.
build.notes.librarydir = /Applications/Notes.app/Contents/MacOS

# The root of the google-enterprise-connector-manager tree.
build.connector.manager.home = ${user.home}/gsa/google-enterprise-connector-manager

# Optional; used to copy the connector to an existing Connector Manager.
connector.manager.webapp.dir = /Tomcat/webapps/connector-manager

# JDK 1.6 bootclasspath.
build.bootclasspath = /System/Library/Frameworks/JavaVM.framework/Versions/1.6.0/Classes/classes.jar:/System/Library/Frameworks/JavaVM.framework/Versions/1.6.0/Classes/jsse.jar


## Test framework properties

javatest.server =
javatest.database = gsaconfig.nsf
javatest.idpassword = password

# Use the PVI (GSA login name), not the Notes name
javatest.authentication.username = UserName
javatest.authentication.password = password

# Set this user name to the name of the traversal user
# Use the PVI (GSA login name), not the Notes name
javatest.authorization.username = UserName

# Set to true to test inherited ACL support.
javatest.supportsinheritedacls = true
